<section id="main" class="full-height bienvenido">
  <div class="container">
    <div class="main_info">
      <div>
        <!-- <img src="images/static-logo.png"> -->
        <%= image_tag "static-logo.png" %>
      </div>
      <div>
        <%= image_tag "hack.png" %>
      </div>
      <h1 class="slogan">Proximamente&hellip;</h1>
    </div>
  </div>
</section>