<section id="main" class="full-height white">
  <div class="container">
    <div class="main_info">
      <div>
        <%= image_tag "static-logo.png" %>
      </div>
      <h1>Enseñar de la manera correcta es un reto.</h1>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 section-description">
          <p>
            Un lugar donde enseñar y aprender
          </p> 
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
          <a href="#" class="btn btn-lg btn-primary btn-main btn-block">Aplica ahora</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 arrow text-center">
        <span data-ref="nav_comofunciona_sponsor" class="hicon-fastdown hicon-med black_font nav_arrow"></span>
      </div>
    </div>
  </div>
</section>

<section id="horarios" class="full-height azul">
  <div class="container" style="padding-bottom: 0;">
    <header>
      <h1 class="text-center section-title">Horario</h1>
    </header>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="text-center">Un día a la semana</h2>
        <p class="text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate, mauris sed convallis congue, orci augue posuere turpis, sed convallis velit erat eu lectus. Quisque euismod ac odio eget scelerisque. Integer sollicitudin turpis nunc, malesuada sodales lorem aliquet et. Nunc auctor tempus molestie.
        </p>
      </div>
      <div class="col-sm-6 text-center">
        <%= image_tag "calendar.png" %>
      </div>
    </div>
  </div>  
</section>

<section id="requisitos" class="full-height white">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <%= image_tag "mentor_chosen.png", :class => "mentor_chosen" %>
      </div>
      <div class="col-sm-6">
        <h1 class="text-center blue_text">
          Requisitos
        </h1>
        <p class="text-center blue_text">
          Donec molestie tristique ipsum. Vivamus sed aliquet lacus, sed venenatis nisl. Etiam cursus pulvinar orci non cursus. Integer pretium justo sem, at molestie purus tincidunt at. Sed vitae est vel turpis sollicitudin volutpat. Curabitur tristique nunc lorem, at venenatis lacus tincidunt eu. Proin ac libero sed lectus semper vestibulum. Fusce sed pulvinar nibh.
        </p>
        <p class="text-center blue_text">
          Sed sodales sed nunc nec tristique. Aenean tincidunt arcu et felis sollicitudin, at eleifend mauris malesuada. Morbi non sem ut tellus facilisis dignissim ut nec mi. Nunc elementum, risus eu facilisis viverra, dolor nibh venenatis dolor, eget porttitor elit dui eget leo. Sed vitae eros in nisl imperdiet dictum in eu libero. Nam cursus, sapien quis sodales mattis, risus ipsum placerat justo, vitae blandit nisi sapien id purus. Morbi a dolor dolor. Nullam tempor enim et commodo viverra.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="inversion" class="full-height azul">
  <div class="container">
    <header>
      <h1 class="text-center section-title titulo-invierte">Tiempo = Dinero</h1>
    </header>
    <div class="row titulo-invierte">
      <div class="col-sm-12">
        <h4 class="text-center">Ni un empleado más! Invierte en {Hack} y obtendrás desarrolladores comprometidos con su labor. Si crees que tu startup o compañía puede <b>enamorar</b> a un desarrollador tendrás más que un empleado, tendrás un {Hacker} comprometido en tu proyecto.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 blue_box_o">
        <div class="row">
          <div class="titulo-lugar col-sm-12 text-center">
            Mexico DF - Polanco
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 precio text-center">
            5500$
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 fechas_o">
            Un día desde las 8am.
          </div>
        </div>
        <div class="row aplica">
          <div class="col-sm-12 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <a href="#" class="btn btn-block btn-lg btn-apply">Invierte ahora</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="detalle" class="full-height anaranjado">
  <div class="container">
    <header>
      <h1 class="text-center section-title">Más información</h1>
    </header>
    <div class="row">
      <div class="col-sm-10">
      </div>
    </div>
  </div>
</section> -->