<% 
  if flash[:warning] 
    css_class = "alert alert-warning"
    css_message = flash[:warning]
  elsif flash[:error]
    css_class = "alert alert-danger"
    css_message = flash[:error]
  elsif flash[:info]
    css_class = "alert alert-info"
    css_message = flash[:info]
  elsif flash[:success]
    css_class = "alert alert-success"
    css_message = flash[:success]
  elsif notice
    css_class = "alert alert-warning"
    css_message = notice
  elsif alert
    css_class = "alert alert-danger"
    css_message = alert
  else
    css_class = "hide"
    css_message= ""
  end 
%>
<div class="<%= css_class %>"> 
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= css_message.html_safe %>
</div>